﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - File Storage</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@using File_Storage.Helpers
@using Microsoft.AspNet.Identity

<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-light bg-light navbar-expand-lg">

            <a href="/Home/Index" class="navbar-brand col-3 m-0 p-0"><img src="~/Content/logo.png" width="100" height="100" alt="logo"></a>

            @using (Ajax.BeginForm("Search", "Home", null, new AjaxOptions { UpdateTargetId = "files", HttpMethod = "POST" }, new { @class = "form-inline col-6" }))
            {
                <div class="input-group w-100">
                    <span class="search-icon">
                        <a href="#" class="ml-2"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </span>
                    <input type="search" id="search" class="search-input form-control" placeholder="Search" name="Search" autocomplete="on" min="1" maxlength="10">
                   

                </div>
            }


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#registerContent" aria-controls="registerContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-3 justify-content-end" id="registerContent">
                @Html.Partial("_LoginPartial")
            </div>

        </nav>

        @if (User.IsInRole("Admin"))
        {
            <p class="lead text-center mb-2">Hello, admin!</p>
        }

    </header>

    <div id="modDialog" class="modal">
        <div id="dialogContent" class="modal-dialog modal-dialog-centered">
        </div>
    </div>

    <main>


        <div class="container-fluid" >
            <article class="d-flex flex-md-row flex-column">
                <ul class="flex-md-column flex-row col-md-2 pt-3 sticky-top align-self-start" id="navMain">
                    <li class="nav-item">
                        @Html.CreateButton("Create", new { role = "button", @class = "btn btn-outline-secondary modal-link", href = "/Home/Create" }, new { @class = "fa fa-plus mr-1" })
                    </li>
                    <li class="nav-item">
                        @Html.CreateButton("My storage", new { role = "button", @class = "btn btn-outline-secondary", href = $"/User/Menu/{User.Identity.GetUserId()}" }, new { @class = "fa fa-archive mr-1" })
                    </li>
                    <li class="nav-item">
                        @Html.CreateButton("Shared files", new { role = "button", @class = "btn btn-outline-secondary", href = "/Home/Index" }, new { @class = "fa fa-files-o mr-1" })
                    </li>
                    <li class="nav-item">
                        @Html.CreateButton("Recent files", new { role = "button", @class = "btn btn-outline-secondary", href = "/Home/GetRecentFiles" }, new { @class = "fa fa-clock-o mr-1" })
                    </li>
                    <li class="nav-item">
                        @Html.CreateButton("Recycle bin", new { role = "button", @class = "btn btn-outline-secondary", href = $"/User/ShowDeletedFiles/{User.Identity.GetUserId()}" }, new { @class = "fa fa-recycle mr-1" })
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.CreateButton("AdminPanel", new { role = "button", @class = "btn btn-outline-secondary", href = "/Admin/Menu" }, new { @class = "fa fa-lock mr-1" })
                        </li>
                    }

                </ul>


                @RenderBody()


            </article>
        </div>

    </main>

    <footer>
        <div class="container-fluid d-flex flex-column">
            <p class="m-0 text-center font-weight-bold">&copy; Tretiak Vitalii</p>
            <p class="m-0 text-center font-weight-bold"><span>Email: </span>mickelangello45@gmail.com</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app");
    @RenderSection("scripts", required: false)
</body>
</html>