﻿@using Microsoft.AspNet.Identity
@using File_Storage.Helpers

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Admin", "", null, new { @class = "nav-link" })
            }
            else
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", null, new { @class = "nav-link" })
            }
        </li>


        <li class="nav-item"><a href="/Account/Logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            @Html.CreateButton("Register", new { @class = "nav-link", id = "registerLink", href = "/Account/Register" }, new { @class = "fa fa-sign-in mr-1" })
        </li>

        <li class="nav-item">
            @Html.CreateButton("Log in", new { @class = "nav-link", id = "loginLink", href = "/Account/Login" }, new { @class = "fa fa-sign-in mr-1" })
        </li>
    </ul>
}
