﻿
@{
    ViewBag.Title = "Menu";
}


@using Microsoft.AspNet.Identity

<div class="container-fluid" id="files">

    <p class="lead text-center m-3">Hello, @User.Identity.Name. Here your files @Ajax.ActionLink(" ", "ShowUserFiles", "User", new { id = User.Identity.GetUserId() }, new AjaxOptions { UpdateTargetId = "user-files", LoadingElementId = "loading", LoadingElementDuration = 1000 }, new { @class = "fa fa-arrow-circle-down text-reset text-decoration-none" })</p>

    <div id="loading" class="d-none text-danger font-weight-bold">
        <p>Loading....</p>
    </div> 

    <div id="user-files">
    </div>
</div>


