﻿@model IEnumerable<File_Storage.Models.FileViewModel>

@{ 
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

    <div class="row">

        <table class="table col-md-9">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(item.Name, "ShowProperties", "Home", new { id = item.Id, controllerNameFrom = controllerName }, new AjaxOptions { UpdateTargetId = "ajax-properties" }, new { @class = "btn btn-outline-secondary" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @if (item.IsShared)
                        {
                            <span>Shared</span>
                        }
                        else
                        {
                            <span>Not shared</span>
                        }

                    </td>
                    <td class="pt-0">
                        <ul class="breadcrumb p-2 bg-transparent">
                            <li class="breadcrumb-item">
                                @Html.ActionLink("Delete", "SoftDeleteFile", new { id = item.Id }, new { @class = "text-danger" })
                            </li>
                        </ul>
                    </td>
                </tr>
            }

        </table>



        <section class="col-md-3 text-center sticky-top align-self-start" id="properties">
            <h2 class="mb-4">Properties</h2>

            <div class="container-fluid" id="ajax-properties"></div>
        </section>
    </div>

