﻿@model IEnumerable<File_Storage.Models.FileViewModel>

<table class="table" id="files">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>

            <td class="pt-0">
                <ul class="breadcrumb p-2 bg-transparent">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Restore", "Restore", new { id = item.Id }, new { @class = "text-success" })
                    </li>
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "text-danger" })
                    </li>
                </ul>
            </td>
        </tr>
    }

</table>

