﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div class="container col-md-8">

        <img src="~/Content/error.png" alt="Not found" class="img-fluid mx-auto d-block" />

        <h2 class="text-danger text-center m-4">Something went wrong... Try again or go to the @Html.ActionLink("Main page", "Index", "Home", null, new { @class = "nav-link m-0 p-0 d-inline" })</h2>

        <h1 class="text-center">@Ajax.ActionLink("Show details", "ShowDetails", "Error", null, new AjaxOptions { UpdateTargetId = "details" }, new { @class = "text-reset text-decoration-none" })</h1>
        <div id="details"></div>
    </div>

