﻿
@{
    ViewBag.Title = "NotFound";
}


<div class="container col-md-8">

    <img src="~/Content/error-404.png" alt="Not found" class="img-fluid mx-auto d-block" />
    <h2 class="text-danger text-center m-4">Try again or go to the @Html.ActionLink("Main page", "Index", "Home", null, new { @class = "nav-link m-0 p-0 d-inline" })</h2>
</div>
