﻿* {
    color: rgba(0,0,0,.5);
}

body {
    background-color: #f8f9fa;
}

header {
    border-bottom: 1px solid #C9C8C6;
}

main {
    flex: 1 0 auto;
}

#files {
    border-top: 1px solid #C9C8C6;
}

.file {
    
}

.file:last-child {
    border-bottom: none;
}

.row {
    text-align: start;
}

span {
    align-self: center;
}

footer {
    flex-shrink: 0;
    border-top: 1px solid #C9C8C6;
}

input[type="search"].search-input {
    border: none;
    background-color: transparent;
    outline: 0;
}

.fa {
    width: 20px;
}

.fa-search {
    color: gray;
    margin-top: 0.1rem;
}

.input-group {
    border: 1px solid #C9C8C6;
    border-radius: 10px;
}

input.form-control:focus,
input[type=search]:focus,
[type=search].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 0 0 white;
    outline: 0;
}

.nav-item {
    justify-self: start;
}

.btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}

.btn:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-outline-secondary {
    width: 100%;
    text-align: start;
    border: none;
}

.row {
    margin-bottom: 1rem;
}

#description {
    border: none;
}


