﻿
@{
    ViewBag.Title = "NoAccess";
}

<div class="container col-md-8">

    <p class="lead text-center">You don`t have access. Send an email to admin to get detailed information. See contact info at the bottom of the page.  </p>
    <img src="~/Content/no-access.png" alt="No access" class="img-fluid mx-auto d-block" />
    @Html.ActionLink("Main page", "Index", "Home", null, new { @class = "nav-link text-center text-secondary" })

</div>

