﻿@model List<File_Storage.Models.UserViewModel>

<table class="table table-striped table-bordered" id="userFiles">
    <tr>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("User name")
        </th>
        <th>
            @Html.DisplayName("Roles")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @foreach (var role in (List<string>)ViewBag.UserRoles[item.Id])
            {
                <span>@role</span>
            }
        </td>
        <td class="pt-0">
            <ul class="breadcrumb p-2 bg-transparent">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }, new { @class = "text-danger" })
                </li>
                <li class="breadcrumb-item">
                    @Ajax.ActionLink("User files", "ShowFilesOfUser", "Admin", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "userFiles" }, new { @class = "text-info" })
                </li>
            </ul>
        </td>
    </tr>
}

</table>
