﻿@model IEnumerable<File_Storage.Models.FileViewModel>

@{
    ViewBag.Title = "ShowFilesOfUser";
}

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Creation date")
        </th>
        <th>
            @Html.DisplayName("Content type")
        </th>
        <th>
            @Html.DisplayName("Size")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td class="pt-0">
                <ul class="breadcrumb p-2 bg-transparent">
                    <li class="breadcrumb-item">
                        @Html.ActionLink("Delete", "Delete", "User", new { id = item.Id }, new { @class = "text-danger" })
                    </li>
                </ul>
            </td>
        </tr>
    }

</table>
