﻿@model File_Storage.Models.FileViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Create";
}

<div class="modal-content">
    <div class="modal-header">
        <h5>Choose file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div>
            @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-12">
                            <p>
                                <input type="file" name="uploadFile" class="uploadFile text-truncate form-control-file border" value="Choose file" />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <div class="row justify-content-between">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-7 align-self-center">
                                @Html.LabelFor(m => m.IsShared, "Shared file", new { @class = "mb-0" })
                                @Html.CheckBoxFor(m => m.IsShared, false)
                            </div>

                            <div class="d-flex col-4">
                                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        }
                        else
                        {
                            <div class="d-flex col-4 offset-8">
                                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                    
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
