﻿@model List<File_Storage.Models.FileViewModel>


@{
    ViewBag.Title = "Home Page";
    string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}


<section class="col-md-7 col-12 text-center" id="files">
    <h2 class="mb-4">Shared files</h2>

    <header class="row">
        <span class="col-md-4 col-5">Name</span>
        <span class="col-md-2 d-none d-md-block">Owner</span>
        <span class="col-md-3 d-none d-md-block">Date of creation</span>
        <span class="col-md-2 col-5">Size</span>
    </header>

    @if (Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {
            <div class="file">
                <div class="row">
                    @Ajax.ActionLink(Model[i].Name, "ShowProperties", "Home", new { id = Model[i].Id, controllerNameFrom = controllerName }, new AjaxOptions { UpdateTargetId = "ajax-properties" }, new { @class = "btn btn-outline-secondary col-md-4 col-5" })
                    <span class="col-md-2 d-none d-md-block text-truncate" id="owner-name" title="@Model[i].OwnerName">@Model[i].OwnerName</span>
                    <span class="col-md-3 d-none d-md-block">@Model[i].CreationDate</span>
                    <span class="col-md-2 col-5">@Model[i].Size KB</span>

                    <a class="btn btn-outline-secondary text-center col-md-1 col-2" href="/Home/GetFile/@Model[i].Id"><i class="fa fa-upload" aria-hidden="true"></i></a>
                </div>
            </div>
        }
    }

</section>

<section class="col-md-3 text-center sticky-top align-self-start" id="properties">
    <h2 class="mb-4">Properties</h2>

    <div class="container-fluid" id="ajax-properties"></div>

</section>
