﻿@model List<File_Storage.Models.FileViewModel>

<h2 class="mb-4">Search result</h2>

@if (!string.IsNullOrEmpty((string)ViewBag.Error))
{
    <p class="lead text-center text-danger text-bold font-weight-bold">@ViewBag.Error. Enter something</p>
}
else
{
    <header class="row">
        <span class="col-md-4 col-5">Name</span>
        <span class="col-md-2 d-none d-md-block">Owner</span>
        <span class="col-md-3 d-none d-md-block">Date of creation</span>
        <span class="col-md-2 col-5">Size</span>
    </header>

    for (int i = 0; i < Model.Count; i++)
    {
        <div class="file">
            <div class="row">
                @Ajax.ActionLink(Model[i].Name, "ShowProperties", "Home", new { id = Model[i].Id }, new AjaxOptions { UpdateTargetId = "ajax-properties" }, new { @class = "btn btn-outline-secondary col-md-4 col-5" })
                <span class="col-md-2 d-none d-md-block text-truncate" id="owner-name" title="@Model[i].OwnerName">@Model[i].OwnerName</span>
                <span class="col-md-3 d-none d-md-block">@Model[i].CreationDate</span>
                <span class="col-md-2 col-5">@Model[i].Size KB</span>

                <a class="btn btn-outline-secondary text-center col-md-1 col-2" href="/Home/GetFile/@Model[i].Id"><i class="fa fa-upload" aria-hidden="true"></i></a>
            </div>
        </div>
    }
}
