﻿@model File_Storage.Models.FileViewModel

<script>
    function OnSuccess(data) {
        let element = document.getElementById("on-success").textContent = "Successfully!"
    }
</script>

<div class="row">
    <span class="col-6">Type</span>
    <p class="col-6 text-truncate" title="@Model.ContentType">@Model.ContentType</p>
</div>

<div class="row">
    <span class="col-6">Size</span>
    <span class="col-6">@Model.Size KB</span>
</div>

<div class="row">
    <span class="col-6">Location</span>
    <span class="col-6">Common files</span>
</div>

<div class="row">
    @using (Ajax.BeginForm("ShowProperties", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "ajax-properties", OnSuccess = "OnSuccess", HttpMethod = "POST" }, new { @class = "col-12" }))
    {
        if (ViewBag.ControllerName == "User")
        {
            <textarea name="description" id="description" class="w-100" rows="2" placeholder="Add description">@Model.Description</textarea>
            <input type="submit" value="Submit">
            <span id="on-success" class="ml-2 text-success"></span>
        }
        else
        {
            <span>@Model.Description</span>
        }
    }
</div>
